
{%extends 'base1.html'%}
{%block title%}
404页面不存在
{%endblock%}
{%block content%}
<div class="pusher">
        <div class="ui vertical masthead segment_sub" style="background-image: url('http://hitcircles-static.b0.upaiyun.com/static_file/background_1.jpgs');">
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu" style="border: none">
            <a class="item" href="{% url 'index_not_login' %}">
                  首页
              </a>
              {% if user.username %}
                  <a class="item" href="{% url 'censor_follow' %}">
                      审查关注列表{% if user.profile.censor_count > 0 %}<div class="ui red circular label">{{ user.profile.censor_count }}</div>{% endif %}
                  </a>
                  <a class="item" href="{% url 'show_scrapy' %}">
                      今日哈工大推送
                  </a>
                  <a class="item" href="{% url 'view_content_profile' user.profile.id  %}">
                      查看个人信息
                  </a>
                  <div class="item">
                      <div class="ui action input">
                      <form action="{% url 'search_to_follow' %}" method="post">
                          {% csrf_token %}
                        <input type="text" name="name" placeholder="输入关注用户昵称">
                            <button class="ui icon button">
                                <i class="search icon"></i>
                            </button>
                      </form>
                      </div>

                    </div>
              {% endif %}
              <div class="right menu">
              {% if user.username %}

                    <a class="ui item" href= "{% url 'view_content_profile' user.profile.id  %}">{{ user.username }}</a>
                    <a class="ui item" href="/logout/">登出</a>
                    {% if user.username == 'admin' %}
			            <a class="ui item" href="{% url 'permission_request' %}">审核用户申请</a>
                    {% endif %}
                    <a class="ui item" href="/add_infomation/">信息完善</a>
                {% endif %}

              </div>
          </div>
        </div>
        </br>
        </br>
        <div class="ui grid container">
            {% if messages %}
            {% for message in messages %}
                <div class="ui {{ message.tags }} message">
                  <i class="close icon"></i>
                  <div class="header">
                    <strong>{{ message.tags }}</strong>
                  </div>
                  <p>{{ message.message }}</p>
                </div>
            {% endfor %}
        <br />
        {% endif %}
            <h1 class="header" style="color: #ffffff;">您所请求的页面不存在</h1>
        </div>
        </div>

</div>
{%endblock%}
