{% extends 'base.html' %}
{% block title %}
    补充个人信息
{% endblock %}
{% block content %}
<div class="jumbotron">
<br />
<br />
<form action="{% url 'add_infomation' %}" method="post">
    {% csrf_token %}
	<div class="container" style="text-align:center">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>成功:</strong>
                            {{ message.message }}
                        </div>
                    {% endif %}
                    {% if message.tags == 'warning' %}
                        <div class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>警告:</strong>
                            {{ message.message }}
                        </div>
                    {% endif %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>失败:</strong>
                            {{ message.message }}
                        </div>
                    {% endif %}
                    {% if message.tags == 'info' %}
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>提示:</strong>
                            {{ message.message }}
                        </div>
                    {% endif %}
                {% endfor %}
            <br />
            {% endif %}
            </br>
        <div class="col-md-6">
            <div class="form-group">
                {% for field in form %}
                    {% if field.errors %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ field.label }}出现错误:
                        {% for error in field.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
                {{ form.nickname.label_tag }}
				{{ form.nickname }} </input>
                <br />
                <br />
		        {{ form.email.label_tag }}
				{{ form.email }} </input>
                <br />
                <br />
			    {{ form.sex.label_tag }}
				{{ form.sex }}
                <br />
                <br />
			    <label id="id_birthday_month">{{ form.birthday.label }}</label>
				{{ form.birthday }}
                <br />
                <br />
		        {{ form.name.label_tag }}
				{{ form.name }} </input>
                <br />
                <br />
	            {{ form.school_id.label_tag }}
	            {{ form.school_id }} </input>
                <br />
                <br />
	            {{ form.school.label_tag }}
		        {{ form.school }}
                <br />
                <br />
		        {{ form.grade.label_tag }}
		        {{ form.grade }}
                <br />
                <br />
			    <label>{{ form.phone_number.label }}</label>
				{{ form.phone_number }} </input>
			    <br />
                <br />
                {{ form.circles.label_tag }}
				{{ form.circles }}
			    <br />
                <br />

                <input class="btn btn-primary" style="height:30px;width:100%" type="submit" name="submit" value="提交注册">
            </div>
	    </div>
    </div>
</form>
</div>
{% endblock %}

