{%extends 'base1.html'%}
{%block title%}
查看与发布
{%endblock%}
{%block content%}
<div class="pusher">
        <div class="ui vertical masthead segment_sub" style="background-image: url('/static/background_1.jpg');">
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu" style="border: none">
            <a class="item" href="{% url 'index_not_login' %}">
                  首页
              </a>
              {% if user.username %}
                  <a class="item" href="{% url 'censor_follow' %}">
                      审查关注列表{% if user.profile.censor_count > 0 %}<div class="ui red circular label">{{ user.profile.censor_count }}</div>{% endif %}
                  </a>
                  <a class="item" href="{% url 'show_scrapy' %}">
                      今日哈工大推送<div class="ui red circular label">Hi</div>
                  </a>
                  <a class="item" href="{% url 'view_content_profile' user.profile.id  %}">
                      查看个人信息
                  </a>
                  <div class="item">
                      <div class="ui action input">
                      <form action="{% url 'search_to_follow' %}" method="post">
                          {% csrf_token %}
                        <input type="text" name="name" placeholder="输入关注用户昵称">
                            <button class="ui icon button">
                                <i class="search icon"></i>
                            </button>
                      </form>
                      </div>

                    </div>
              {% endif %}
              <div class="right menu">
              {% if user.username %}

                    <a class="ui item" href= "{% url 'view_content_profile' user.profile.id  %}">{{ user.username }}</a>
                    <a class="ui item" href="/logout/">登出</a>
                    {% if user.username == 'admin' %}
			            <a class="ui item" href="{% url 'permission_request' %}">审核用户申请</a>
                    {% endif %}
                    <a class="ui item" href="/add_infomation/">信息完善</a>
                {% endif %}

              </div>
          </div>
        </div>
        </br>
        </br>
        <div class="ui grid container">
            <h1 class="header" style="color: #ffffff;">审核用户关注请求</h1>
        </div>
        </div>

	<div class="ui grid container" >
		<div class="row">
			<div class="ten wide column">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="ui {{ message.tags }} message">
                              <i class="close icon"></i>
                              <div class="header">
                                <strong>{{ message.tags }}</strong>
                              </div>
                              <p>{{ message.message }}</p>
                            </div>
                        {% endfor %}
                    <br />
                    {% endif %}
                <br />
            <div class="ui raised segment">
				<div class="ui divided items">
                    {% for each in profile_lst %}
                    <div class="item">
                    <div class="content">
                        <a class="header">{{ each.nickname }}</a>
                        <div class="description" style="max-height:150px;overflow: auto;word-break: break-all;word-wrap: break-word">
                          <p>用户 {{ each.user.username }} 申请添加您为好友</p>
                        </div>
                        <div class="extra">
                            <form action="{% url 'censor_follow' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="allow_id" value={{ each.user.id }}>
                                <button class="ui right floated primary button" type="submit" name="submit">允许关注<i class="right chevron icon"></i></button>
                            </form>
                            <form action="{% url 'reject_follow' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="allow_id" value={{ each.user.id }}>
                                <input type="hidden" name="my_id" value={{ user.id }}>
                                <button class="ui right floated primary button" type="submit" name="submit">拒绝关注<i class="right chevron icon"></i></button>
                            </form>
                        </div>
                    </div>
                    </div>

                    {% endfor %}
                    {% if not profile_lst %}
                        <h1>没有用户关注请求</h1>
                    {% endif %}
				</div>
            </div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
