{% extends 'base.html' %}
{% block title %}
    首页
{% endblock %}

{% block body_style %}
    style="background-image : url(/static/backgroundimage.jpg);background-repeat : no-repeat;padding:0;background-size:100%"
{% endblock %}

{% block bg_image %}
    <div style="position:fixed; left:0px; top:0px; width:100%; height:100%">
        <img src="/static/backgroundimage.jpg" width="100%" height="100%"/>
    </div>
{% endblock %}

{% block content %}

<div class="jumbotron" style="background-color:rgba(0,0,0,0)">
	<div class="container">
		<div class="row" id="context-head">
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		</div>

		<div class="row" id="context-body">
			<div class="col-md-6">
				<h1>工大圈子</h1>
				<h2>欢迎来到工大圈子</h2>
				<p>您可以在不同的圈子里发布,浏览不同信息</p>
				<p><a class="btn btn-primary btn-lg" href="http://v3.bootcss.com/css/#forms" role="button" target="_blank">Learn more</a></p>
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-3">
				<form action="" name="auth_form" method="post">
                    {% csrf_token %}
					<div class="form-group">
                        {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>成功:</strong>
                            {{ message.message }}
                        </div>
                    {% endif %}
                    {% if message.tags == 'warning' %}
                        <div class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>警告:</strong>
                            {{ message.message }}
                        </div>
                    {% endif %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>失败:</strong>
                            {{ message.message }}
                        </div>
                    {% endif %}
                    {% if message.tags == 'info' %}
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>提示:</strong>
                            {{ message.message }}
                        </div>
                    {% endif %}
                {% endfor %}
            <br />
            {% endif %}
                        {{ form.username.label_tag }}
                        {{ form.username }} </input>
                        {{ form.password.label_tag }}
                        {{ form.password }} </input>

						<br/>
						<input type="submit" onclick="auth_form.action={% url 'site_login' %};auth_form.submit();" class="btn btn-primary" name="login" value="登录" style="float:left">
						<input class="btn btn-default" type="submit" onclick="auth_form.action={% url 'site_register' %};auth_form.submit();" name="register" value="注册" style="float:left">
						<a href="#" class="btn btn-default" role="button" target="_blank" style="float:right">查看帮助?</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}