<<!DOCTYPE html>
<html lang="zh-CN">
	<link rel="stylesheet" href="http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css">
	<!--link href="Cover%20Template%20for%20Bootstrap_files/cover.css" rel="stylesheet"-->
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>
		我的主页
	</title>
</head>
<body style="padding:0">
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
	      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	      	</button>
	      	<a class="nav-brand" href="#">
	      		<img alt="HIT-group" src="/static/brand.gif" />
	      	</a>
	      	<p class="navbar-text"><strong>工大圈子</strong></p>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    	<ul class="nav navbar-nav" style="float:left">
				<li role="presentation" class="active"><a href="#">Home</a></li>
		    	<li role="presentation" class="active"><a href="#">Contact</a></li>
		    	<li role="presentation" class="active"><a href="#">Features</a></li>
		    </ul>

			<ul class="nav navbar-nav" style="float:right">
                {% if status == 'logged in' %}
                <li role="presentation" class="active"><a href="#">{{ username }}</a></li>
                <li role="presentation" class="active"><a href="/logout/">登出</a></li>
                {% endif %}

				<li role="presentation" class="dropdown active">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	      				下拉菜单 <span class="caret"></span>
	    			</a>
	    			<ul class="dropdown-menu">
	      				<li class="btn"><a href="#">子菜单一</a></li>
	      				<li class="btn"><a href="#">子菜单二</a></li>
	    			</ul>
				</li>
			    <li role="presentation" class="active"><a href="#">导航</a></li>
				<li role="presentation" class="active"><a href="#">导航</a></li>
			</ul>
	    </div>
	</div>
</nav>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-9" style="border:1px solid #000">
				<p>
					{% if status == 'logged in' %}
	                邮箱：{{ profile.email }}<br />
	                {% if profile.sex == True %}性别：男性{% endif %}<br />
	                {% if profile.sex == False %}性别：女性{% endif %}<br />
	                出生年月日：{{ profile.birthday.year }}/{{ profile.birthday.month }}/{{ profile.birthday.day }}<br />
	                {% endif %}
					<img src="/static/tmp1.jpg" width="500px" height="500px">
					<br />
					<img src="/static/tmp2.jpg" width="500px" height="500px">
					<br />
					<img src="/static/tmp3.jpg" width="500px" height="500px">
					<br />
				</p>
			</div>
			<div class="col-md-3">
				<div class="container" style="border:1px solid #000">
					<div class="row">
						<div class="col-md-3">
							<a href="#" class="active">按钮一</a>
						</div>
						<div class="col-md-3">
							<a href="#" class="active">按钮二</a>
						</div>
						<div class="col-md-3">
							<a href="#" class="active">按钮三</a>
						</div>
						<div class="col-md-3">
							<a href="#" class="active">按钮四</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<a href="#" class="active">按钮五</a>
						</div>
						<div class="col-md-3">
							<a href="#" class="active">按钮六</a>
						</div>
						<div class="col-md-3">
							<a href="#" class="active">按钮七</a>
						</div>
						<div class="col-md-3">
							<a href="#" class="active">按钮八</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<a href="#" class="active">按钮九</a>
						</div>
						<div class="col-md-3">
							<a href="#" class="active">按钮十</a>
						</div>
						<div class="col-md-3">
							<a href="#" class="active">按钮十一</a>
						</div>
						<div class="col-md-3">
							<a href="#" class="active">按钮十二</a>
						</div>
					</div>
				</div>
				<hr />
				<div class="container">
					<div class="row" style="border:1px solid #000">
						<p>这里用来显示短消息，推送消息，
						<br />
						<br />
						所以请认真看看这个地方。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>