{%extends 'base1.html'%}
{%block title%}
查看与发布
{%endblock%}
{%block content%}

<div class="pusher">

        <div class="ui vertical masthead segment2" style="background-image: url('/static/background_1.jpg');">
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu" style="border: none">
            <a class="item" href="{% url 'index_not_login' %}">
                  首页
              </a>
              {% if user.username %}
                  <a class="item" href="{% url 'censor_follow' %}">
                      审查关注列表
                  </a>
                  <a class="item" href="{% url 'show_scrapy' %}">
                      今日哈工大推送
                  </a>
                  <a class="item" href="{% url 'view_content_profile' user.profile.id  %}">
                      查看个人信息
                  </a>
                  <div class="item">
                      <div class="ui action input">
                      <form action="{% url 'search_to_follow' %}" method="post">
                          {% csrf_token %}
                        <input type="text" name="name" placeholder="输入关注用户昵称">
                            <button class="ui icon button">
                                <i class="search icon"></i>
                            </button>
                      </form>
                      </div>

                    </div>
              {% endif %}
              <div class="right menu">
              {% if user.username %}

                    <a class="ui item" href= "{% url 'view_content_profile' user.profile.id  %}">{{ user.username }}</a>
                    <a class="ui item" href="/logout/">登出</a>
                    {% if user.username == 'admin' %}
			            <a class="ui item" href="{% url 'permission_request' %}">审核用户申请</a>
                    {% endif %}
                    <a class="ui item" href="/add_infomation/">信息完善</a>
                {% endif %}

              </div>
          </div>
        </div>
        <div class="ui grid container">
                <div class="row">
                    <div class="twelve wide column">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="ui {{ message.tags }} message">
                              <i class="close icon"></i>
                              <div class="header">
                                <strong>{{ message.tags }}</strong>
                              </div>
                              <p>{{ message.message }}</p>
                            </div>
                        {% endfor %}
                    <br />
                    {% endif %}
                <div style="color:#FFFFFF;">
                <br />
                <div class="row" style="color:#FFFFFF;">
                    <div class="one wide column"></div>
                    <div class="ten wide column">
                    <h3>来都来了，说点什么吧~</h3>
                        <br/>
                    </div>
                </div>

                <form class='ui form' action = "{% url 'site_message' %}" method = "post">

                        {% csrf_token %}
                        <div class="field">
                            <div style="color:#FFFFFF;">{{ form.title.label_tag }}</div>
                            <br />
                            {{ form.title }}
                        </div>

                        <div class="field">
                            <div style="color:#FFFFFF;">{{ form.content.errors }}</div>
                            <div style="color:#FFFFFF;">{{ form.content.label_tag }}</div>
                            <br />
                            {{ form.content }}
                        </div>
                        <div class="field">
                            <div style="color:#FFFFFF;">{{ form.circle.errors}}</div>
                            <div style="color:#FFFFFF;">{{ form.circle.label_tag }}</div>
                            {{ form.circle }}
                        </div>

                        <div class="field">
                            <div class="four wide column">
                                 <button class="ui inverted button"  type="submit" name="submit" >发布信息</button>
                            </div>

                        </div>
                </form>
                </div>
            </div>

                <div class="four wide column">
                <br />

                <div class="ui card" style="width : 500px;">
                  <div class="content">
                    <div class="header"><a href="{% url 'view_content_profile' user.profile.id  %}">{{ user.username }}</a></div>
                  </div>
                  <div class="content">
                    <h3 class="ui sub header">{{ user.profile.nickname }}</h3>
                    <h3 class="ui sub header">{{ user.profile.school }}</h3>
                    <h3 class="ui sub header">{{ user.profile.grade }}</h3>
                  </div>
                  <div class="extra content">

                    <div class="ui labeled tiny button" tabindex="0">
                      <div class="ui button">

                        被关注:
                      </div>
                      <a class="ui basic label" href="{% url 'view_followed' user.id %}">
                        {% if user.profile.followed_count == None %}
                          0
                          {% else %}
                        {{ user.profile.followed_count }}
                          {% endif %}
                      </a>
                    </div>
                    <div class="ui labeled tiny button" tabindex="0">
                      <div class="ui button">
                        关注:
                      </div>
                      <a class="ui basic label" href="{% url 'view_follower' user.id %}">
                      {% if user.profile.follow_count == None %}
                          0
                          {% else %}
                        {{ user.profile.follow_count }}
                          {% endif %}
                      </a>
                    </div>

                  </div>
                </div>

                </div>


			</div>

            </div>
        </div>
        <div class="ui container grid">
        <div class="eleven wide column">
                <br />
                <div class="row">
                    <h3>所有信息:</h3>
                </div>
                <div class="ui top attached tabular menu">
                {% for u in circle %}
                    {% if forloop.counter == 1 %}
                        <a class="item active" data-tab="{{ u.name }}">{{ u.name }}</a>
                    {% else %}
                        <a class="item" data-tab="{{ u.name }}">{{ u.name }}</a>
                    {% endif %}
                {% endfor %}
                </div>


                    {% for cont in content %}
                        {% for each_cont in cont %}
                            {% if each_cont.1 %}
                                {% if forloop.first and each_cont %}
                                    {% if forloop.parentloop.counter == 1 %}
                                        <div class="ui bottom attached tab active segment" data-tab="{{ each_cont.0 }}">
                                    {% else %}
                                        <div class="ui bottom attached tab segment" data-tab="{{ each_cont.0 }}">
                                    {% endif %}
                                    <div class="ui divided items">
                                {% endif %}

                                <div class="item">
                                    <div class="content">
                                      <a class="header">{{ each_cont.1.title }}</a>
                                      <div class="meta">
                                        <span>昵称:{{ each_cont.1.profile.nickname }}</span>
                                      </div>
                                      <div class="description" style="max-height:150px;overflow: auto;word-break: break-all;word-wrap: break-word">
                                        <p>
                                            {{ each_cont.1.text }}
                                        </p>
                                      </div>
                                      <div class="extra">
                                      <div class="ui four tiny buttons">



                                            <form class="ui form" action="{% url 'process_thumb_up' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="field">
                                                    <input type="hidden" name="thumb_up_id" value={{ each_cont.1.id }} > </input>
                                                    <div class="ui labeled button" tabindex="0">
                                                      <button class="ui red button inverted" type="submit">
                                                        <i class="heart icon"></i> 点赞:
                                                      </button>
                                                      <a class="ui basic red left pointing label">
                                                          {% if each_cont.1.thumb_up == None %}
                                                              0
                                                          {% else %}
                                                        {{ each_cont.1.thumb_up }}
                                                          {% endif %}
                                                      </a>
                                                    </div>

                                                    &nbsp
                                                </div>
                                                <!--input type="hidden" name="thumb_up_id" value={{ each_cont.1.id }} > </input>
            				    			    <input class="btn btn-primary" style="height:30px;width:60%" type="submit" name="submit" value="点赞 {{ each_cont.1.thumb_up }}次"-->
                                            </form>


                                            <form class="ui form" action="{% url 'add_comment' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="field">
                                                    <input type="hidden" name="cont_id" value={{ each_cont.1.id }} > </input>
                                                    <button class="ui blue button inverted" type="submit">评论</button>&nbsp
                                                </div>
                                                <!--input type="hidden" name="cont_id" value={{ each_cont.1.id }} > </input>
            				    			    <input class="btn btn-primary" style="height:30px;width:60%" type="submit" name="submit" value="评论"-->
                                            </form>


                                            <form class="ui form" action="{% url 'show_comment' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="field">
                                                    <input type="hidden" name="cont_id" value={{ each_cont.1.id }} > </input>
                                                    <button class="ui purple button inverted" type="submit">查看评论</button>&nbsp
                                                </div>
                                                <!--input type="hidden" name="cont_id" value={{ each_cont.1.id }} > </input>
            				    			    <input class="btn btn-primary" style="height:30px;width:60%" type="submit" name="submit" value="查看评论"-->
                                            </form>
                                          {% if user.profile.id == each_cont.1.profile.id %}
                                            <form class="ui form" action="{% url 'delete_content' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="field">
                                                    <input type="hidden" name="delete_id" value={{ each_cont.1.id }} > </input>
                                                    <button class="ui brown button inverted" style="" type="submit">删除</button>&nbsp
                                                </div>

                                                <!--input type="hidden" name="delete_id" value={{ each_cont.1.id }} > </input>
            				    			    <input class="btn btn-primary" style="height:30px;width:60%" type="submit" name="submit" value="删除"-->
                                            </form>
                                            {% endif %}
            				    		</div>

                                      </div>
                                    </div>
                                </div>



                                    {% if forloop.last and each_cont %}
                                            </div>
                                            </div>
                                    {% endif %}

                                {% else %}
                                    <div role="tabpanel" class="tab-pane" id= "{{ each_cont.0 }}"></div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}




</div>
</div>
</div>
</div>
{%endblock%}