{%extends 'base.html'%}
{%block title%}
查看与发布
{%endblock%}
{%block content%}
<div class="jumbotron">
	<div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>成功:</strong>
                        {{ message.message }}
                    </div>
                {% endif %}
                {% if message.tags == 'warning' %}
                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>警告:</strong>
                        {{ message.message }}
                    </div>
                {% endif %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>失败:</strong>
                        {{ message.message }}
                    </div>
                {% endif %}
                {% if message.tags == 'info' %}
                    <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>提示:</strong>
                        {{ message.message }}
                    </div>
                {% endif %}
            {% endfor %}
        <br />
        {% endif %}
		<div class="row">
			<div class="col-md-9">
				<div class="row form_group">
					<label>This is the area that you write dowm your information</label>
					<form action = "{% url 'site_message' %}" method = "post">
                        {% csrf_token %}
						{{ form.title.label_tag }}
                        {{ form.title }} </input>
                        {{ form.content.errors }}
                        {{ form.content.label_tag }}
                        {{ form.content }} </input>
                        {{ form.circle.errors}}
                        {{ form.circle.label_tag }}
                        {{ form.circle }}
                        <input class="btn btn-primary" style="height:30px;width:100%" type="submit" name="submit" value="提交注册">
					</form>
				</div>
				<ul class="nav nav-tabs" role="tablist">
                    {% for u in circle %}
                        <li role="presentation"><a href="#{{ u.name }}" aria-controls={{ u.name }} role="tab" data-toggle="tab">{{ u.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for cont in content %}
                            {% for each_cont in cont %}
                            {% if each_cont.1 %}
                                {% if forloop.first and each_cont %}
                                    <div role="tabpanel" class="tab-pane" id={{ each_cont.0 }}>
                                {% endif %}
                            <div class="row">
				    		<div class="col-md-3">
				    			<p>{{ each_cont.1.profile.nickname }}</p>
				    		</div>
				    		<div class="col-md-3 col-md-offset-4">
                                <form action="{% url 'delete_content' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete_id" value={{ each_cont.1.id }} > </input>
				    			    <input class="btn btn-primary" style="height:30px;width:100%" type="submit" name="submit" value="删除">
                                </form>
				    		</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>{{ each_cont.1.title }}</p>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-md-12">
                                    {{ each_cont.1.text }}
                                 </div>
                            </div>
                                {% if forloop.last and each_cont %}
                                    </div>
                                {% endif %}
                            {% else %}
                                <div role="tabpanel" class="tab-pane" id={{ each_cont.0 }}></div>
                            {% endif %}
                            {% endfor %}
                    {% endfor %}
                </div>
			</div>
			<div class="col-md-3">
				<div class="row" style="background-color:white">
					<div class="col-md-4">
						<img src="brand.gif"/>
					</div>
					<div class="col-md-8">
						<a href="{% url 'view_content_profile' user.profile.id  %}"> <p>{{ user.username }}</p> </a>
					</div>
				</div>
				<div class="row" style="background-color:white">
					<div class="col-md-4">
						<p style="font-size:18px">关注你:</p>
					</div>
					<div class="col-md-2">
						<p style="color:blue;font-size:18px">522</p>
					</div>
					<div class="col-md-4">
						<p style="font-size:18px">你关注:</p>
					</div>
					<div class="col-md-2">
						<p style="color:blue;font-size:18px">522</p>
					</div>
				</div>
				<div class="row" style="background-color:red">
					<div class="col-md-12">
						<p>忘了这里干啥的了。</p>
					</div>
				</div>
                {% for cir in circle %}
                    <a href="{% url 'view_content_circle' cir.id  %}"> <p>{{ cir.name }}</p> </a>
                {% endfor %}
			</div>
		</div>
	</div>
</div>
{%endblock%}