{%extends 'base.html'%}
{%block title%}
查看与发布
{%endblock%}
{%block content%}
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
                <div class="row">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>成功:</strong>
                                    {{ message.message }}
                                </div>
                            {% endif %}
                            {% if message.tags == 'warning' %}
                                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>警告:</strong>
                                    {{ message.message }}
                                </div>
                            {% endif %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>失败:</strong>
                                    {{ message.message }}
                                </div>
                            {% endif %}
                            {% if message.tags == 'info' %}
                                <div class="alert alert-info alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>提示:</strong>
                                    {{ message.message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    <br />
                    {% endif %}
                </div>
                <div class="row" style="color:#99CC32"><h3>来都来了，说点什么吧~</h3></div>
                <form class='form-horizontal' action = "{% url 'site_message' %}" method = "post">

                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                        </div>

                        <div class="form-group">
                            {{ form.content.errors }}
                            {{ form.content.label_tag }}
                            {{ form.content }}
                        </div>
                        <div class="form-group">
                            {{ form.circle.errors}}
                            {{ form.circle.label_tag }}
                            <label class="checkbox-inline">
                            {{ form.circle }}
                            </label>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2">
                                 <input class="btn btn-primary" style="height:30px;width:100%" type="submit" name="submit" value="发布信息">
                            </div>
                        </div>
                </form>
                <div class="row">
                    <h3>所有信息:</h3>
                </div>
				<ul class="nav nav-tabs" role="tablist">                    
                {% for u in circle %}
                    {% if forloop.counter == 1 %}
                    <li role="presentation" class="active"><a href="#{{ u.name }}" aria-controls={{ u.name }} role="tab" data-toggle="tab">{{ u.name }}</a></li>
                    {% else %}
                    <li role="presentation"><a href="#{{ u.name }}" aria-controls={{ u.name }} role="tab" data-toggle="tab">{{ u.name }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for cont in content %}
                        {% for each_cont in cont %}
                            {% if each_cont.1 %}
                                {% if forloop.first and each_cont %}
                                    {% if forloop.parentloop.counter == 1 %}
                                    <div role="tabpanel" class="tab-pane active" id="{{ each_cont.0 }}">
                                    {% else %}
                                    <div role="tabpanel" class="tab-pane" id="{{ each_cont.0 }}">
                                    {% endif %}
                                {% endif %}
                                <div class="row" style="padding:3px;margin-bottom:10px;background:#E6E8FA">
                                    <div class="row">
            				    		<div class="col-md-3">
            				    			<p>昵称:{{ each_cont.1.profile.nickname }}</p>
            				    		</div>
                                        <div class="col-md-3">
                                            <p>{{ each_cont.1.title }}</p>
                                        </div>
            				    		<div class="col-md-2 col-md-offset-4">
                                            {% if user.profile.id == each_cont.1.profile.id %}
                                            <form action="{% url 'delete_content' %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="delete_id" value={{ each_cont.1.id }} > </input>
            				    			    <input class="btn btn-primary" style="height:30px;width:60%" type="submit" name="submit" value="删除">
                                            </form>
                                            {% endif %}
            				    		</div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                    <div class="row">
                                         <div class="col-md-12">
                                            <p>{{ each_cont.1.text }}</p>
                                         </div>
                                    </div>

                                    {% if forloop.last and each_cont %}
                                            </div>
                                    {% endif %}
                                </div>
                                {% else %}
                                    <div role="tabpanel" class="tab-pane" id= "{{ each_cont.0 }}"></div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
			</div>

			<div class="col-md-3 col-md-offset-1">
                <br />
				<div class="row" style="background-color:white;padding:4px">
					<div class="col-md-4">
						<img src="/static/brand.gif"/>
					</div>
					<div class="col-md-8">
						<a href="{% url 'view_content_profile' user.profile.id  %}"> <p>{{ user.username }}</p> </a>
					</div>
				</div>
				<div class="row" style="background-color:white">
					<div class="col-md-4">
						<p style="font-size:18px">关注你:</p>
					</div>
					<div class="col-md-2">
						<p style="color:blue;font-size:18px">522</p>
					</div>
					<div class="col-md-4">
						<p style="font-size:18px">你关注:</p>
					</div>
					<div class="col-md-2">
						<p style="color:blue;font-size:18px">522</p>
					</div>
				</div>
				<div class="row" style="background-color:red">
					<div class="col-md-12">
						<p>忘了这里干啥的了。</p>
					</div>
				</div>
                {% for cir in circle %}
                    <a href="{% url 'view_content_circle' cir.id  %}"> <p>{{ cir.name }}</p> </a>
                {% endfor %}
			</div>
		</div>
	</div>
</div>
{%endblock%}