<!DOCTYPE html>
<html lang="zh-CN">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    {% block script %}{% endblock %}
</head>
<body {% block body_style %}{% endblock %}>
    {% block bg_image %}{% endblock %}
	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
	      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	      	</button>
	      	<a class="nav-brand" href="#">
	      		<img alt="HIT-group" src="/static/brand.gif" />
	      	</a>

	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	   		<p class="navbar-text"><strong>工大圈子</strong></p>
	    	<ul class="nav navbar-nav" style="float:left">
				<li role="presentation"><a href="{% url 'index_not_login' %}">首页</a></li>
                <li role="presentation"><a href="{% url 'search_to_follow' %}">添加关注</a></li>
                <li role="presentation"><a href="{% url 'censor_follow' %}">审查关注列表</a></li>
                <li role="presentation"><a href="{% url 'show_scrapy' %}">今日哈工大推送</a></li>
                {% if user.username %}
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	      				查看资料 <span class="caret"></span>
	    			</a>
	    			<ul class="dropdown-menu">
	      				<li class="btn"><a href="{% url 'view_content_profile' user.profile.id  %}">查看个人信息</a></li>
	    			</ul>
				</li>
                {% endif %}
		    </ul>

			<ul class="nav navbar-nav" style="float:right">
			    {% if user.username %}
                <li role="presentation"><a href= "{% url 'view_content_profile' user.profile.id  %}">{{ user.username }}</a></li>
                <li role="presentation"><a href="/logout/">登出</a></li>
                {% endif %}


                <!-- 限制审核权限,待修改 -->
                {% if user.username == 'admin' %}
			        <li role="presentation" ><a href="{% url 'permission_request' %}">审核用户申请</a></li>
                {% endif %}
                {% if user.username %}
				<li role="presentation"><a href="/add_infomation">信息完善</a></li>
                {% endif %}
			</ul>
	    </div>
	</div>
    </nav>

    {% if user.profile.censor_count %}
    <br/>
        <br/>
        <br />
	<div class="container">
		<div class="row">
			<div class="col-md-8">
                <div class="row">
    <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>注意:</strong>
                有人向你发出关注请求
    </div>
        </div>
        </div>
        </div>
        </div>
    {% endif %}
{% block content%}{% endblock %}
<div style="text-align:center">
	<p class="lead">copyright @ hit-2013-cs-class3</p>
</div>
</body>
</html>